<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= joke.title %></title>
</head>
<body>
    <h1>Edit <%= joke.title %>></h1>
    <form action="/jokes/<%= joke._id %>/edit" method="POST">
        <label for="title">Joke Title:</label>
        <input type="text" id="title" name="title" value="<%= joke.title %>" required><br><br>

        <label for="date">When did you think of this?:</label>
        <input type="date" id="date" name="date" value="<%= joke.date %>" required><br><br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre" value="<%= joke.genre %>" required><br><br>

        <label for="joke">The New Zinger:</label>
        <input type="text" id="joke" name="joke" value="<%= joke.joke %>" required><br><br>

        <button type="submit">Make it Happen</button><br><br>
    </form>

    <button><a href="/">Back to Home</a></button>
</body>
</html>
