<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= joke.title %></title>
</head>
<body>
    <h1><b><%= joke.title %></b></h1>
    <p><%= joke.date %></p>
    <p><%= joke.genre %></p>
    <p><%= joke.joke %></p>

    <button><a href="/joke/<%= joke._id %>/edit">Make em' Funnier</a></button><br></br>

    <form action="/jokes/<%= joke._id %>/delete" method="POST">
        <button type="submit">Delete this Joke</button><br></br>
    </form>
    
    <button><a href="/">Back to Home</a></button>
</body>
</html>
