<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= joke.title %></title>
</head>
<body>
    <h1><b><%= joke.title %></b></h1>
    <p><%= joke.date %></p>
    <p><%= joke.genre %></p>
    <p><%= joke.joke %></p>
<div class="button-container">
    <div id="SHOWBUTTONS">
    <button class="BTN"><a href="/joke/<%= joke._id %>/edit">Make em' Funnier</a></button>

    <form action="/jokes/<%= joke._id %>/delete" method="POST">
        <button class="BTN" type="submit">Delete this Joke</button>
    </form>
    
    <button class="BTN"><a href="/">Back to Home</a></button>
    </div>
</div>
</body>
</html>
